
{{ define "main" }}
<script async defer src="https://buttons.github.io/buttons.js"></script>
<p>
    Throughout my research, I have worked on the development of several open source projects, extending popular research tools such as
    <a href="https://github.com/rohanpadhye/JQF">JQF</a> (coverage-guided fuzzing),
    <a href="https://github.com/EvoSuite/evosuite">EvoSuite</a> (search-based unit test generation), and
    <a href="https://github.com/javapathfinder/jpf-symbc">Symbolic PathFinder </a> (symbolic execution).
</p>
{{  range $i, $e := .Data.Pages }}
    <br>
    {{ partial "project_li.html" $e }}
{{ end }}

{{ end }}
