.post-line {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: baseline;
}

.tag-line {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: baseline;
}

.post-line p {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.paper-venue {
    font-size: large;
    min-width: 120px;
    max-width: 120px;
    text-align: right;
    padding-right: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-family: "Inconsolata";
}

.paper-title {
    margin: 0;
}

.mini-abstract {
    font-size: medium;
    line-height: 1.5;
}

.line-link {
    display: inline-block;
    font-size: medium;
    font-family: "Inconsolata";
}

.project-box {
    margin-left: 20px;
}

.project-title {
    font-size: x-large;
    font-weight: 700;
}

.tag-title {
    margin: 0;
}

.paper-authors {
    font-size: medium;
    color: var(--content-secondary);
}

.paper-booktitle {
    font-size: medium;
    margin: 0 !important;
    font-style: italic;
    color: var(--content-secondary);
}

.list-container {
    padding-bottom: 3rem;
}
