{{ define "main" }}
<h2>Overview</h2>
<p>
    My main research interest is in automated software testing, primarily targeting the JVM.
    As part of my PhD research, I am currently researching the idea to use biostatistical methods to quantify the performance of random fuzz testers.
    Specifically, my main hypothesis is that a fuzzer is more effective in finding bugs if it not only <em>covers</em> a lot of code, but also <em>diversely exercises</em> it
    — I call this concept <em>behavioral diversity</em>.
</p>
<p>
    Inspired by the <a href="https://arxiv.org/abs/1803.02130">STADS framework</a>,
    I propose to measure behavioral diversity based on the execution distribution of a fuzzer,
    analogous to how ecologists quantify biodiversity over the species distribution of an assemblage.
    To this end, I research to what extent a fuzzer that exhibits higher behavioral diversity inspires more confidence in the correctness of the program under test.
    Moreover, I have proposed <a href="https://dl.acm.org/doi/10.1145/3510003.3510182">BeDivFuzz</a>, a coverage-guided fuzz testing technique that aims to diversely explore the program behaviors through an adaptive mutation strategy.
</p>
<h2>Selected Publications</h2>
<p class="header-subtitle">
    View full publication list on
    <a href="https://scholar.google.de/citations?user=Y171jFgAAAAJ&hl=en">[Google Scholar]</a>
    or
    <a href="https://dblp.org/pid/214/0485.html">[dblp]</a>.
</p>
{{  range $i, $e := .Data.Pages }}
    {{ if gt $i 0 }}<br>{{ end }}
    {{ partial "publication_li.html" $e }}
{{ end }}

{{ end }}
